/*<?php
include('game.php');
?>*/

	div{
	position: absolute;
	top: 0;
	}	
	.size{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	}
	.div1{
	background-image: url('pics/beer.png');
	<?php echo $sel1;?>
	}
	.div2{
	background-image: url('pics/hotel.png');
	left: 110px;<?php echo $sel2;?>
		
	}
	.div3{
	background-image: url('pics/coins.png');
	left: 220px;<?php echo $sel3;?>
	}
	.div4{
	background-image: url('pics/storm.png');
	left: 330px;<?php echo $sel4;?>
	}
.div5{
	background-image: url('pics/coins.png');
	top: 110px;
	left: 330px;<?php echo $sel5;?>
	}
.div6{
	top: 220px;
	left: 330px;
	background-image: url('pics/diamond.png');
	<?php echo $sel6;?>
	}
.div7{
	background-image: url('pics/hotel.png');
	top: 330px;
	left: 330px;<?php echo $sel7;?>
	}
.div8{
	background-image: url('pics/coins.png');
	top: 330px;
	left: 220px;<?php echo $sel8;?>
	}
.div9{
	background-image: url('pics/coins.png');
	top:  330px;
	left: 110px;<?php echo $sel9;?>
	}
.div10{
	background-image: url('pics/hotel.png');
	top: 330px;
	left: 0px;<?php echo $sel10;?>
	}
.div11{
	background-image: url('pics/winner.png');
	top: 220px;<?php echo $sel11;?>
	left: 0px;
	}
	
.div12{
	background-image: url('pics/beer.png');
	top: 110px;
	left: 0px;<?php echo $sel12;?>
	}

.footer{
	color: red;
}