
body{
	background-image: url("assets/pics/da.png") ;
	background-image: no-repeat;
	}
	.login{
		width: 40%;
		height: 200px;
		position: relative;
		top: 140px;
		left: 550px;
	}
	.register{
		width: 40%;
		height: 200px;
		position: relative;
		top: 50px;
		left: 550px;
	}
	.name, .password, {
		width: 60%;
		height: 40px;
		background-color: red;

	}
	.name, .password, .email{
		width: 60%;
		height: 40px;

}
	.container{
	position: relative;
	top: 200px;
	left: 20px;
	}

	div{
	position: absolute;
	top: 0;
	}	
	.size{
	height: 100px;
	width: 100px;
	border: 3px solid black;
	}
	.div1{
	background-image: url('assets/pics/beer.png');
	<?php echo $sel1;?>
	}
	.div2{
	background-image: url('assets/pics/hotel.png');
	left: 110px;<?php echo $sel2;?>
		
	}
	.div3{
	background-image: url('assets/pics/coins.png');
	left: 220px;<?php echo $sel3;?>
	}
	.div4{
	background-image: url('assets/pics/storm.png');
	left: 330px;<?php echo $sel4;?>
	}
.div5{
	background-image: url('assets/pics/coins.png');
	top: 110px;
	left: 330px;<?php echo $sel5;?>
	}
.div6{
	top: 220px;
	left: 330px;
	background-image: url('assets/pics/diamond.png');
	<?php echo $sel6;?>
	}
.div7{
	background-image: url('assets/pics/hotel.png');
	top: 330px;
	left: 330px;<?php echo $sel7;?>
	}
.div8{
	background-image: url('assets/pics/coins.png');
	top: 330px;
	left: 220px;<?php echo $sel8;?>
	}
.div9{
	background-image: url('assets/pics/coins.png');
	top:  330px;
	left: 110px;<?php echo $sel9;?>
	}
.div10{
	background-image: url('assets/pics/hotel.png');
	top: 330px;
	left: 0px;<?php echo $sel10;?>
	}
.div11{
	background-image: url('pics/winner.png');
	top: 220px;<?php echo $sel11;?>
	left: 0px;
	}
	
.div12{
	background-image: url('assets/pics/beer.png');
	top: 110px;
	left: 0px;<?php echo $sel12;?>
	}
.gameover{
	width: 30%;
	height: 200px;
	background-color: red;
	position: absolute;
	top: 300px;
	left: 400px;
}
.footer{
	color: red;
}